<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="[[ image-text-custom ]]">
  <div class="itc__main-container-padding">
    <div class="itc__main-container">
      <div class="itc__block-container">
        <h1>Hello World !</h1>
      </div>
    </div>
  </div>
</section>

{% schema %}
 {
    "name": "image-text-custom",
    "settings": [],
    "blocks": [],
    "presets": [
   	  {
    	"name": "image-text-custom",
   		 "category": "SECTIONS CUSTOM"
  	  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}