<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="[[YOUR SECTION TYPE]]">
</section>

{% schema %}
 {
    "name": "Section Starter",
    "settings": [],
    "blocks": [],
    "presets": [
   	  {
    	"name": "Section Starter",
   		 "category": "Section Custom"
  	  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}