//* footer-info-custom */

/* 4k Display */
.fic__main-container-padding {
	padding: 0px 35px;
}

.fic__main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.fic__block-container {
	margin: 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fic__block-image {
	padding: 5px;
}

.fic__block-heading {
	padding: 2px;
	text-align: center;
}

.fic__block-info {
	padding: 2px;
	text-align: center;
}

/* Laptop(S,M,L) Tablet(L) Display */
@media only screen and (max-width: 1440px) {
	.fic__main-container-padding {
		padding: 0px 20px;
	}

	.fic__main-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}

	.fic__block-container {
		margin: 10px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fic__block-image {
		padding: 5px;
	}

	.fic__block-heading {
		padding: 2px;
		text-align: center;
	}

	.fic__block-info {
		padding: 1px;
		text-align: center;
	}
}

/* Tablet(S) Display */
@media only screen and (max-width: 768px) {
	.fic__main-container-padding {
		padding: 0px 20px;
	}

	.fic__main-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
	}

	.fic__block-container {
		margin: 5px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fic__block-image {
		padding: 2px;
	}

	.fic__block-heading {
		padding: 2px;
		text-align: center;
	}

	.fic__block-info {
		padding: 1px;
		text-align: center;
	}
}

/* Mobile(S,M,L) Display */
@media only screen and (max-width: 425px) {
	.fic__main-container-padding {
		padding: 0px 20px;
	}

	.fic__main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.fic__block-container {
		margin: 5px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fic__block-image {
		padding: 2px;
	}

	.fic__block-heading {
		padding: 1px;
		text-align: center;
	}

	.fic__block-info {
		padding: 1px;
		text-align: center;
	}
}

/* image-text-custom */

/* 4k Display */
.itc__main-container-padding {
	padding: 35px 20px;
}

.itc__main-container-row-reverse {
	display: flex;
	flex-direction: row-reverse;
	align-content: center;
	justify-content: center;
}

.itc__main-container-row {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.itc__image-block-container {
	display: flex;
	align-items: center;
	padding: 5px;
}

.itc__image {
	margin: 10px;
}

.itc__text-block-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 21% 10px;
}

.itc__paragraph {
	margin: 3px;
}


/* Laptop(S,M,L) Display */
@media only screen and (max-width: 1440px) {
	.itc__main-container-padding {
		padding: 20px;
	}

	.itc__main-container-row-reverse {
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		justify-content: center;
	}

	.itc__main-container-row {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}

	.itc__image-block-container {
		display: flex;
		align-items: center;
		padding: 5px;
	}

	.itc__image {
		margin: 10px;
	}

	.itc__text-block-container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 18% 10px;
	}

	.itc__paragraph {
		margin: 3px;
	}
}

/* Tablet(S) Display */
@media only screen and (max-width: 768px) {
	.itc__main-container-padding {
		padding: 20px;
	}

	.itc__main-container-row-reverse {
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		justify-content: center;
	}

	.itc__main-container-row {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}

	.itc__image-block-container {
		display: flex;
		align-items: center;
		padding: 5px;
	}

	.itc__image {
		margin: 10px;
	}

	.itc__text-block-container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4% 10px;
	}

	.itc__paragraph {
		margin: 3px;
	}
}

/* Mobile(S,M,L) Display */
@media only screen and (max-width: 425px) {
	.itc__main-container-padding {
		padding: 20px;
	}

	.itc__main-container-row-reverse {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.itc__main-container-row {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.itc__image-block-container {
		padding: 5px;
		display: flex;
		align-items: center;
	}

	.itc__image {
		margin: 1px;
		width: 100%;
	}

	.itc__text-block-container {
		text-align: center;
		padding: 15px;
	}

	.itc__paragraph {
		margin: 1px;
	}
}

// /* yt-video-custom */

// /* 4k Display */
// .ytvc__main-container-padding {}

// .ytvc__main-container {}

// .ytvc__heading-block-container {}

// .ytvc__heading {}

// .ytvc__paragraph-block-container {}

// .ytvc__yt-iframe-block-container {}

// .ytvc__yt-iframe {}

// /* Laptop(S,M,L) Display */
// @media only screen and (max-width: 1440px) {
// 	.ytvc__main-container-padding {}

// 	.ytvc__main-container {}

// 	.ytvc__heading-block-container {}

// 	.ytvc__heading {}

// 	.ytvc__paragraph-block-container {}

// 	.ytvc__yt-iframe-block-container {}

// 	.ytvc__yt-iframe {}

// 	.ytvc__yt-iframe-player {}
// }

// /* Tablet(S) Display */
// @media only screen and (max-width: 768px) {
// 	.ytvc__main-container-padding {}

// 	.ytvc__main-container {}

// 	.ytvc__heading-block-container {}

// 	.ytvc__heading {}

// 	.ytvc__paragraph-block-container {}

// 	.ytvc__yt-iframe-block-container {}

// 	.ytvc__yt-iframe {}

// 	.ytvc__yt-iframe-player {}
// }

// /* Mobile(S,M,L) Display */
// @media only screen and (max-width: 425px) {
// 	.ytvc__main-container-padding {}

// 	.ytvc__main-container {}

// 	.ytvc__heading-block-container {}

// 	.ytvc__heading {}

// 	.ytvc__paragraph-block-container {}

// 	.ytvc__yt-iframe-block-container {}

// 	.ytvc__yt-iframe {}

// 	.ytvc__yt-iframe-player {}
// }

/*  NOUS-REJOINDRE */
.rowCustom {
	display: flex;
	flex-wrap: wrap;
}

/* FORM SECTION  */
.form__header--bgImg {
	background-size: cover;
	background-position: center;
	min-height: 650px;
	left: 0;
	right: 0;
	top: 0;
}

.form__grid {
	max-width: 1340px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.form__wrapper {
	align-items: center !important;
	margin-right: -15px;
	margin-left: -15px;
}

.form__heading--container {
	flex: 0 0 50%;
	max-width: 50%;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
	padding-top: 10%;
}

.form__heading--title {
	font-size: 2.375rem;
	letter-spacing: 0;
	line-height: 1.1em;
}

.form__heading--h1 {
	color: white;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	color: #fff !important;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 60px;
}

.form__form--contactWrapper {
	margin-top: 0px;
}

.form__form--wrapper {
	align-self: flex-end;
	margin-bottom: -30px;
	padding: 0 30px;
	margin-left: 8.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
	width: 100%;
	padding-top: 10%;
}

.form__form--main {
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 30px;
}

.form__form--contactWrapper {
	margin-top: 0px;
}

.form__form--contactStep {
	text-align: right;
	color: #D1D1D1;
	font-size: 0.8125rem;
}

.form__form--contactTitle {
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-size: 1.375rem;
	padding-bottom: 30px;
	position: relative;
	text-align: left;
}

.form__form--contactTitle::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 60px;
	height: 4px;
	background-color: #21E8FF;
}

.form__form--coordContent {
	font-family: "Roboto-Bold", sans-serif;
	font-size: 1rem;
	color: #078d96;
	font-weight: 600;
	line-height: 1.5;
	text-align: left;
}

/* FORM STEP 0 */
.form__form--stepform {
	margin-bottom: 41%;
}


.form__form--spanCivility {
	width: 100%;
	display: inline-block;
	font-size: 0.75rem;
	padding-bottom: 10px;
	text-align: left;
}

.form__form--radioContainer {
	flex: 0 0 50%;
	max-width: 50%;
	min-width: 110px;
	position: relative;
	width: 100%;
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.form__form--radio {
	display: block;
	position: relative;
	padding-top: 4px;
	padding-left: 23%;
	margin-bottom: 12px;
	color: #49474b;
	font-style: normal;
	cursor: pointer;
	user-select: none;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	width: 100%;
	max-width: 300px;
	text-align: left;
}

.form__form--radioInput {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0;
	overflow: visible;
}

.form__form--radioInput:checked~.form__form--checkmark {
	background-color: #fff;
	border: solid 1px #21E8FF;
}

.form__form--radioInput:checked~.form__form--checkmark::after {
	background-color: #21E8FF;
	border: solid 1px #21E8FF;
	display: block;
}

.form__form--checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 26px;
	width: 26px;
	background-color: #eee;
	border-radius: 50%;
	border: solid 1px #d1d1d1;
	transition: all 0.3s ease;
	display: inline-block;
	font-size: 0.75rem;
	padding-bottom: 10px;
}

.form__form--checkmark::after {
	content: "";
	position: absolute;
	display: none;
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #21E8FF;
}

.form__form--labelEmpty {
	color: #D1D1D1;
	font-style: normal;
	position: absolute;
	margin-top: 12px;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	padding-left: .5rem;
	width: 100%;
	max-width: 300px;
	text-align: left;
}

.form__form--labelFocused {
	font-style: italic;
	color: #9E9C9C;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	padding-left: .5rem;
	width: 100%;
	max-width: 300px;
	display: inline-block;
	margin-bottom: 0;
	text-align: left;
}


.form__form--input {
	display: block;
	width: 100%;
	margin-top: 3%;
	height: calc(1.5em + .75rem + 2px);
	padding: .5rem .5rem;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	background-color: transparent;
	background-clip: padding-box;
	color: #2F3A43;
}

.form__form--validation {
	border-bottom: 1px solid #9E9C9C !important;
	border-top: 0px solid transparent !important;
	border-left: 0px solid transparent !important;
	border-right: 0px solid transparent !important;
	border-radius: 0;
	border-left: none;
	border-top: none;
	border-right: none;
}

.form__form--validationValid {
	border-color: #28a745 !important;
	color: #28a745;
	border-left: none;
	border-top: none;
	border-right: none;
}

.form__form--validationInvalid {
	border-color: #dc3545 !important;
	color: #dc3545;
	border-left: none;
	border-top: none;
	border-right: none;
}

.form__form--invalidFeedback {
	color: #dc3545 !important;
	font-size: 0px !important;
}

.form__form--buttonWrapper {
	margin-top: 4%;
}

.form__form--button {
	border: transparent;
	font-weight: 700;
	font-size: .9rem;
}

// FORM STEP 1

.form__form--buttonStep1 {
	margin-top: 7%;
}

// FORM STEP 2


.form__form--message {
	height: auto;
	border: 1px solid #9E9C9C;
	display: block;
	width: 100%;
	padding: .5rem .5rem;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #2F3A43;
	background-color: transparent;
	background-clip: padding-box;
	border-radius: 0;
}

.form__form--labelTextarea {
	text-align: left;
	margin-top: 5%;
	font-style: italic;
	color: #9E9C9C;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	padding-left: .5rem;
	width: 100%;
	max-width: 300px;
}

// FORM STEP 3

.form__form--credentials {
	font-size: 12px !important;
}

.form__form--radioRgpd {
	display: flex;
	width: 100%;
	flex-direction: row;
	text-align: left;
}

.form__form--radioRgpdLabel {
	text-align: left;
}

.form__form--mention {
	text-align: left;
}

.form_form--start {
	text-align: left;
}

/* UNDERHERO SECTION */
.underhero__wrapper {
	padding: 40px 0;
	background-color: #000;
}

.underhero__wrapper--container {
	width: 100%;
}

.underhero__grid {
	display: flex;
	margin-left: 0px
}

.underhero__img--content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.underhero__img--svg {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	width: 100%;
	padding: 30px;
	max-width: 400px;
}

.underhero__info--content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	text-align: left;
}

.underhero__info--content>div {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	width: 100%;
	padding: 25px;
	color: #fff;
}

.underhero__info--title {
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 2.45rem;
	line-height: 1em;
	color: #21E8FF;
}

.underhero__li::before {
	content: '✓';
	position: absolute;
	top: 0;
	left: 0;
}

.underhero__li {
	color: #fff;
	position: relative;
	padding-left: 30px;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-size: 1.45rem;
	line-height: 1em;
	margin-bottom: 15px;
}

/*  VIDEO SECTION  */
.video__wrapper {
	margin: 80px 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
}

.video__wrapper--container {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.video__grid {
	display: block;
	margin-left: 0px;
}

.video__text--content {
	padding: 1% 2%;
	text-align: left;
}

.video__text--title {
	padding-top: 60px;
	font-size: 3.3rem;
	word-break: break-word;
	hyphens: auto;
	padding-bottom: 20px;
	letter-spacing: -1px;
	color: #49474B;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	line-height: 1;
}

.video__text--paragraph {
	font-size: 1.2rem;
	padding: 0;
	margin-top: 0;
	margin-bottom: 24px;
}

.video__content--wrapper {
	width: 100%
}

.video__figure--container {
	width: 100%;
	margin-bottom: 1em;
	margin: 0 0 1em;
	display: block;
}

.video__iframe--wrapper {
	position: relative;
	padding-top: 60%;

}

.video__iframe--content {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

/* INFO PUSH */
.info__wrapper {
	margin: 80px 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
}

.info__container {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin-left: 0px;
}

.info__first--container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	mix-blend-mode: multiply;
	background-attachment: fixed;
	background-position: center;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.info__bluepatern--container {
	mix-blend-mode: multiply;
	background-attachment: fixed;
	background-position: center;
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.info__img--cell {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 50%;
	width: 100%;
}

.info__img--container {
	width: 70%;
	margin: 0 auto;
}

.info__img--svg {
	margin: 60px 0;
	width: 100%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle
}

.info__text--cell {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.info__second--cell {
	margin: 0 0 0 0;
}

.info__paragraph--primary {
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-size: 1.45rem;
	line-height: 1em;
	color: #000;
	margin-top: 20px;
	padding-right: 20px;
	text-align: left;
}

.info__text--title {
	text-transform: uppercase;
	font-size: 2.5rem;
	word-break: break-word;
	hyphens: auto;
	padding-top: 60px;
	padding-bottom: 20px;
	text-align: left;
	font-weight: 900;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
}

.info__paragraph--second {
	font-size: 1.2rem;
	padding: 0;
	margin-top: 0;
	margin-bottom: 24px;
	text-align: left;
}

.info__button {
	border: transparent;
	font-weight: 700;
	font-size: .9rem;
	;
}


@include av-mq(pocket) {

	//UNDERHERO SECTION
	.rowCustomUnderhero {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.underhero__wrapper {
		padding: 20px 20px;
		background-color: #000;
	}

	.underhero__grid {
		display: block;
	}

	.underhero__img--cell {
		margin: 0px;
		width: 100%;
	}

	.underhero__grid--cell {
		width: 100%;
		text-align: left;
	}

	.underhero__img--content {
		padding-right: 10%;
		padding-left: 10%;
	}

	.underhero__img--svg {
		padding: 20px;
		max-width: 200px;
	}

	.underhero__info--content {
		padding: 20px 10px 0;
	}

	.underhero__info--content>div {
		padding: 20px 10px 0;
	}

	// VIDEO SECTION
	.video__wrapper {
		margin: 40px 20px;
	}

	.video__wrapper--container {
		max-width: 720px;
	}

	.video__grid {
		display: block;
		margin-left: 0px;
	}

	.video__text--content {
		padding: 0px;
	}

	.video__text--title {
		font-size: calc(1.285rem + .42vw)
	}

	.video__text--pargraph {
		font-size: 1rem;
	}

	.info__wrapper {
		margin: 40px 20px;
	}

	.info__container {
		max-width: 720px;
		margin-left: 0px;
	}

	.info__img--cell {
		max-width: 70%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.info__img--container {
		width: 100%;
	}

	.info__text--cell {
		margin: 0;
		width: 100%;
		margin-bottom: 35px;
	}

	.info__second--container {
		padding: 0 20px;
	}

	.info__paragraph--primary {
		margin-left: 10px;
		margin-right: 10px;
	}

	.info__text--title {
		font-size: 1.3rem;
	}

	.form__grid {
		max-width: 720px;
	}

	.form__heading--container {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 40px;
		padding-left: 40px;
	}

	.form__form--wrapper {
		margin-bottom: 60px;
		margin-left: 0;
		padding: 0 40px;
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		padding-top: 0;
	}

	.form__form--stepform {
		margin-bottom: 0;
	}

	.form__form--gridPocketCustom {
		display: flex;
		margin: 0 auto;
		flex-direction: row;
	}

	.form__form--spanCivility {
		width: 11%;
	}

	.form__form--radioWidth {
		width: 100%;
	}
}

@include av-mq(thumb) {
	.underhero__grid {
		margin: 0px;
	}

	.underhero__info--title {
		font-size: 1.8rem;
	}

	.video__text--paragraph {
		font-size: 1rem;
	}

	.video__iframe--content {
		height: 100%;
	}

	.info__paragraph--primary {
		font-size: 1.25rem;
	}

	.info__paragraph--second {
		font-size: 1rem;
	}

	.form__grid {
		padding-top: 30%;
	}

	.form__heading--container {
		padding: 0 20px;
	}

	.form__form--contactTitle {
		font-size: 1rem;
	}

	.form__form--spanCivility {
		width: 27%;
	}

	.form__form--gridPocketCustom {
		display: flex;
		margin: 0 auto;
		flex-direction: column;
	}

	.form__form--radioContainer {
		font-family: Roboto, sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		padding-right: 0;
		padding-left: 0;
	}

	.form__form--radio {
		text-align: center;
	}
}

[stepform] {
	display: none;

	input,
	textarea,
	radio {
		&:focus {
			outline: none;
		}
	}
}

[stepform="1"] {
	display: block;
}

.input--error {
	border: none !Important;
	border-bottom: 1px solid red !Important;
}

.form__form--radioRgpdLabel.label--error {
	font-weight: bold;
	color: red !important;

	a {
		color: inherit !Important;
	}
}