/* custom footer theme */

/******** AVALANCHE GRID CSS ********/
.grid {
	display: block;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: -20px;
	font-size: 0
}

.grid__cell {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	padding: 0;
	padding-left: 20px;
	margin: 0;
	vertical-align: top;
	font-size: 1rem
}

.grid--center {
	text-align: center
}

.grid--center>.grid__cell {
	text-align: left
}

.grid__cell--center {
	display: block;
	margin: 0 auto
}

.grid--right {
	text-align: right
}

.grid--right>.grid__cell {
	text-align: left
}

.grid--middle>.grid__cell {
	vertical-align: middle
}

.grid--bottom>.grid__cell {
	vertical-align: bottom
}

.grid--flush {
	margin-left: 0
}

.grid--flush>.grid__cell {
	padding-left: 0
}

.grid--tiny {
	margin-left: -5px
}

.grid--tiny>.grid__cell {
	padding-left: 5px
}

.grid--small {
	margin-left: -10px
}

.grid--small>.grid__cell {
	padding-left: 10px
}

.grid--large {
	margin-left: -40px
}

.grid--large>.grid__cell {
	padding-left: 40px
}

.grid--huge {
	margin-left: -80px
}

.grid--huge>.grid__cell {
	padding-left: 80px
}

.grid--auto>.grid__cell {
	width: auto
}

.grid--rev {
	direction: rtl
}

.grid--rev>.grid__cell {
	direction: ltr
}

.\31\/2,
.\32\/4,
.\33\/6,
.\34\/8,
.\35\/10,
.\36\/12 {
	width: 50%
}

.\31\/3,
.\32\/6,
.\33\/9,
.\34\/12 {
	width: 33.33333%
}

.\32\/3,
.\34\/6,
.\36\/9,
.\38\/12 {
	width: 66.66667%
}

.\31\/4,
.\32\/8,
.\33\/12 {
	width: 25%
}

.\33\/4,
.\36\/8,
.\39\/12 {
	width: 75%
}

.\31\/5,
.\32\/10 {
	width: 20%
}

.\32\/5,
.\34\/10 {
	width: 40%
}

.\33\/5,
.\36\/10 {
	width: 60%
}

.\34\/5,
.\38\/10 {
	width: 80%
}

.\31\/6,
.\32\/12 {
	width: 16.66667%
}

.\35\/6,
.\31\30\/12 {
	width: 83.33333%
}

.\31\/7 {
	width: 14.28571%
}

.\32\/7 {
	width: 28.57143%
}

.\33\/7 {
	width: 42.85714%
}

.\34\/7 {
	width: 57.14286%
}

.\35\/7 {
	width: 71.42857%
}

.\36\/7 {
	width: 85.71429%
}

.\31\/8 {
	width: 12.5%
}

.\33\/8 {
	width: 37.5%
}

.\35\/8 {
	width: 62.5%
}

.\37\/8 {
	width: 87.5%
}

.\31\/9 {
	width: 11.11111%
}

.\32\/9 {
	width: 22.22222%
}

.\34\/9 {
	width: 44.44444%
}

.\35\/9 {
	width: 55.55556%
}

.\37\/9 {
	width: 77.77778%
}

.\38\/9 {
	width: 88.88889%
}

.\31\/10 {
	width: 10%
}

.\33\/10 {
	width: 30%
}

.\37\/10 {
	width: 70%
}

.\39\/10 {
	width: 90%
}

.\31\/11 {
	width: 9.09091%
}

.\32\/11 {
	width: 18.18182%
}

.\33\/11 {
	width: 27.27273%
}

.\34\/11 {
	width: 36.36364%
}

.\35\/11 {
	width: 45.45455%
}

.\36\/11 {
	width: 54.54545%
}

.\37\/11 {
	width: 63.63636%
}

.\38\/11 {
	width: 72.72727%
}

.\39\/11 {
	width: 81.81818%
}

.\31\30\/11 {
	width: 90.90909%
}

.\31\/12 {
	width: 8.33333%
}

.\35\/12 {
	width: 41.66667%
}

.\37\/12 {
	width: 58.33333%
}

.\31\31\/12 {
	width: 91.66667%
}

@media screen and (max-width: 499px) {

	.\31\/2--thumb,
	.\32\/4--thumb,
	.\33\/6--thumb,
	.\34\/8--thumb,
	.\35\/10--thumb,
	.\36\/12--thumb {
		width: 50%
	}

	.\31\/3--thumb,
	.\32\/6--thumb,
	.\33\/9--thumb,
	.\34\/12--thumb {
		width: 33.33333%
	}

	.\32\/3--thumb,
	.\34\/6--thumb,
	.\36\/9--thumb,
	.\38\/12--thumb {
		width: 66.66667%
	}

	.\31\/4--thumb,
	.\32\/8--thumb,
	.\33\/12--thumb {
		width: 25%
	}

	.\33\/4--thumb,
	.\36\/8--thumb,
	.\39\/12--thumb {
		width: 75%
	}

	.\31\/5--thumb,
	.\32\/10--thumb {
		width: 20%
	}

	.\32\/5--thumb,
	.\34\/10--thumb {
		width: 40%
	}

	.\33\/5--thumb,
	.\36\/10--thumb {
		width: 60%
	}

	.\34\/5--thumb,
	.\38\/10--thumb {
		width: 80%
	}

	.\31\/6--thumb,
	.\32\/12--thumb {
		width: 16.66667%
	}

	.\35\/6--thumb,
	.\31\30\/12--thumb {
		width: 83.33333%
	}

	.\31\/7--thumb {
		width: 14.28571%
	}

	.\32\/7--thumb {
		width: 28.57143%
	}

	.\33\/7--thumb {
		width: 42.85714%
	}

	.\34\/7--thumb {
		width: 57.14286%
	}

	.\35\/7--thumb {
		width: 71.42857%
	}

	.\36\/7--thumb {
		width: 85.71429%
	}

	.\31\/8--thumb {
		width: 12.5%
	}

	.\33\/8--thumb {
		width: 37.5%
	}

	.\35\/8--thumb {
		width: 62.5%
	}

	.\37\/8--thumb {
		width: 87.5%
	}

	.\31\/9--thumb {
		width: 11.11111%
	}

	.\32\/9--thumb {
		width: 22.22222%
	}

	.\34\/9--thumb {
		width: 44.44444%
	}

	.\35\/9--thumb {
		width: 55.55556%
	}

	.\37\/9--thumb {
		width: 77.77778%
	}

	.\38\/9--thumb {
		width: 88.88889%
	}

	.\31\/10--thumb {
		width: 10%
	}

	.\33\/10--thumb {
		width: 30%
	}

	.\37\/10--thumb {
		width: 70%
	}

	.\39\/10--thumb {
		width: 90%
	}

	.\31\/11--thumb {
		width: 9.09091%
	}

	.\32\/11--thumb {
		width: 18.18182%
	}

	.\33\/11--thumb {
		width: 27.27273%
	}

	.\34\/11--thumb {
		width: 36.36364%
	}

	.\35\/11--thumb {
		width: 45.45455%
	}

	.\36\/11--thumb {
		width: 54.54545%
	}

	.\37\/11--thumb {
		width: 63.63636%
	}

	.\38\/11--thumb {
		width: 72.72727%
	}

	.\39\/11--thumb {
		width: 81.81818%
	}

	.\31\30\/11--thumb {
		width: 90.90909%
	}

	.\31\/12--thumb {
		width: 8.33333%
	}

	.\35\/12--thumb {
		width: 41.66667%
	}

	.\37\/12--thumb {
		width: 58.33333%
	}

	.\31\31\/12--thumb {
		width: 91.66667%
	}
}

@media screen and (min-width: 500px) and (max-width: 800px) {

	.\31\/2--handheld,
	.\32\/4--handheld,
	.\33\/6--handheld,
	.\34\/8--handheld,
	.\35\/10--handheld,
	.\36\/12--handheld {
		width: 50%
	}

	.\31\/3--handheld,
	.\32\/6--handheld,
	.\33\/9--handheld,
	.\34\/12--handheld {
		width: 33.33333%
	}

	.\32\/3--handheld,
	.\34\/6--handheld,
	.\36\/9--handheld,
	.\38\/12--handheld {
		width: 66.66667%
	}

	.\31\/4--handheld,
	.\32\/8--handheld,
	.\33\/12--handheld {
		width: 25%
	}

	.\33\/4--handheld,
	.\36\/8--handheld,
	.\39\/12--handheld {
		width: 75%
	}

	.\31\/5--handheld,
	.\32\/10--handheld {
		width: 20%
	}

	.\32\/5--handheld,
	.\34\/10--handheld {
		width: 40%
	}

	.\33\/5--handheld,
	.\36\/10--handheld {
		width: 60%
	}

	.\34\/5--handheld,
	.\38\/10--handheld {
		width: 80%
	}

	.\31\/6--handheld,
	.\32\/12--handheld {
		width: 16.66667%
	}

	.\35\/6--handheld,
	.\31\30\/12--handheld {
		width: 83.33333%
	}

	.\31\/7--handheld {
		width: 14.28571%
	}

	.\32\/7--handheld {
		width: 28.57143%
	}

	.\33\/7--handheld {
		width: 42.85714%
	}

	.\34\/7--handheld {
		width: 57.14286%
	}

	.\35\/7--handheld {
		width: 71.42857%
	}

	.\36\/7--handheld {
		width: 85.71429%
	}

	.\31\/8--handheld {
		width: 12.5%
	}

	.\33\/8--handheld {
		width: 37.5%
	}

	.\35\/8--handheld {
		width: 62.5%
	}

	.\37\/8--handheld {
		width: 87.5%
	}

	.\31\/9--handheld {
		width: 11.11111%
	}

	.\32\/9--handheld {
		width: 22.22222%
	}

	.\34\/9--handheld {
		width: 44.44444%
	}

	.\35\/9--handheld {
		width: 55.55556%
	}

	.\37\/9--handheld {
		width: 77.77778%
	}

	.\38\/9--handheld {
		width: 88.88889%
	}

	.\31\/10--handheld {
		width: 10%
	}

	.\33\/10--handheld {
		width: 30%
	}

	.\37\/10--handheld {
		width: 70%
	}

	.\39\/10--handheld {
		width: 90%
	}

	.\31\/11--handheld {
		width: 9.09091%
	}

	.\32\/11--handheld {
		width: 18.18182%
	}

	.\33\/11--handheld {
		width: 27.27273%
	}

	.\34\/11--handheld {
		width: 36.36364%
	}

	.\35\/11--handheld {
		width: 45.45455%
	}

	.\36\/11--handheld {
		width: 54.54545%
	}

	.\37\/11--handheld {
		width: 63.63636%
	}

	.\38\/11--handheld {
		width: 72.72727%
	}

	.\39\/11--handheld {
		width: 81.81818%
	}

	.\31\30\/11--handheld {
		width: 90.90909%
	}

	.\31\/12--handheld {
		width: 8.33333%
	}

	.\35\/12--handheld {
		width: 41.66667%
	}

	.\37\/12--handheld {
		width: 58.33333%
	}

	.\31\31\/12--handheld {
		width: 91.66667%
	}
}

@media screen and (min-width: 500px) {

	.\31\/2--handheld-and-up,
	.\32\/4--handheld-and-up,
	.\33\/6--handheld-and-up,
	.\34\/8--handheld-and-up,
	.\35\/10--handheld-and-up,
	.\36\/12--handheld-and-up {
		width: 50%
	}

	.\31\/3--handheld-and-up,
	.\32\/6--handheld-and-up,
	.\33\/9--handheld-and-up,
	.\34\/12--handheld-and-up {
		width: 33.33333%
	}

	.\32\/3--handheld-and-up,
	.\34\/6--handheld-and-up,
	.\36\/9--handheld-and-up,
	.\38\/12--handheld-and-up {
		width: 66.66667%
	}

	.\31\/4--handheld-and-up,
	.\32\/8--handheld-and-up,
	.\33\/12--handheld-and-up {
		width: 25%
	}

	.\33\/4--handheld-and-up,
	.\36\/8--handheld-and-up,
	.\39\/12--handheld-and-up {
		width: 75%
	}

	.\31\/5--handheld-and-up,
	.\32\/10--handheld-and-up {
		width: 20%
	}

	.\32\/5--handheld-and-up,
	.\34\/10--handheld-and-up {
		width: 40%
	}

	.\33\/5--handheld-and-up,
	.\36\/10--handheld-and-up {
		width: 60%
	}

	.\34\/5--handheld-and-up,
	.\38\/10--handheld-and-up {
		width: 80%
	}

	.\31\/6--handheld-and-up,
	.\32\/12--handheld-and-up {
		width: 16.66667%
	}

	.\35\/6--handheld-and-up,
	.\31\30\/12--handheld-and-up {
		width: 83.33333%
	}

	.\31\/7--handheld-and-up {
		width: 14.28571%
	}

	.\32\/7--handheld-and-up {
		width: 28.57143%
	}

	.\33\/7--handheld-and-up {
		width: 42.85714%
	}

	.\34\/7--handheld-and-up {
		width: 57.14286%
	}

	.\35\/7--handheld-and-up {
		width: 71.42857%
	}

	.\36\/7--handheld-and-up {
		width: 85.71429%
	}

	.\31\/8--handheld-and-up {
		width: 12.5%
	}

	.\33\/8--handheld-and-up {
		width: 37.5%
	}

	.\35\/8--handheld-and-up {
		width: 62.5%
	}

	.\37\/8--handheld-and-up {
		width: 87.5%
	}

	.\31\/9--handheld-and-up {
		width: 11.11111%
	}

	.\32\/9--handheld-and-up {
		width: 22.22222%
	}

	.\34\/9--handheld-and-up {
		width: 44.44444%
	}

	.\35\/9--handheld-and-up {
		width: 55.55556%
	}

	.\37\/9--handheld-and-up {
		width: 77.77778%
	}

	.\38\/9--handheld-and-up {
		width: 88.88889%
	}

	.\31\/10--handheld-and-up {
		width: 10%
	}

	.\33\/10--handheld-and-up {
		width: 30%
	}

	.\37\/10--handheld-and-up {
		width: 70%
	}

	.\39\/10--handheld-and-up {
		width: 90%
	}

	.\31\/11--handheld-and-up {
		width: 9.09091%
	}

	.\32\/11--handheld-and-up {
		width: 18.18182%
	}

	.\33\/11--handheld-and-up {
		width: 27.27273%
	}

	.\34\/11--handheld-and-up {
		width: 36.36364%
	}

	.\35\/11--handheld-and-up {
		width: 45.45455%
	}

	.\36\/11--handheld-and-up {
		width: 54.54545%
	}

	.\37\/11--handheld-and-up {
		width: 63.63636%
	}

	.\38\/11--handheld-and-up {
		width: 72.72727%
	}

	.\39\/11--handheld-and-up {
		width: 81.81818%
	}

	.\31\30\/11--handheld-and-up {
		width: 90.90909%
	}

	.\31\/12--handheld-and-up {
		width: 8.33333%
	}

	.\35\/12--handheld-and-up {
		width: 41.66667%
	}

	.\37\/12--handheld-and-up {
		width: 58.33333%
	}

	.\31\31\/12--handheld-and-up {
		width: 91.66667%
	}
}

@media screen and (max-width: 800px) {

	.\31\/2--pocket,
	.\32\/4--pocket,
	.\33\/6--pocket,
	.\34\/8--pocket,
	.\35\/10--pocket,
	.\36\/12--pocket {
		width: 50%
	}

	.\31\/3--pocket,
	.\32\/6--pocket,
	.\33\/9--pocket,
	.\34\/12--pocket {
		width: 33.33333%
	}

	.\32\/3--pocket,
	.\34\/6--pocket,
	.\36\/9--pocket,
	.\38\/12--pocket {
		width: 66.66667%
	}

	.\31\/4--pocket,
	.\32\/8--pocket,
	.\33\/12--pocket {
		width: 25%
	}

	.\33\/4--pocket,
	.\36\/8--pocket,
	.\39\/12--pocket {
		width: 75%
	}

	.\31\/5--pocket,
	.\32\/10--pocket {
		width: 20%
	}

	.\32\/5--pocket,
	.\34\/10--pocket {
		width: 40%
	}

	.\33\/5--pocket,
	.\36\/10--pocket {
		width: 60%
	}

	.\34\/5--pocket,
	.\38\/10--pocket {
		width: 80%
	}

	.\31\/6--pocket,
	.\32\/12--pocket {
		width: 16.66667%
	}

	.\35\/6--pocket,
	.\31\30\/12--pocket {
		width: 83.33333%
	}

	.\31\/7--pocket {
		width: 14.28571%
	}

	.\32\/7--pocket {
		width: 28.57143%
	}

	.\33\/7--pocket {
		width: 42.85714%
	}

	.\34\/7--pocket {
		width: 57.14286%
	}

	.\35\/7--pocket {
		width: 71.42857%
	}

	.\36\/7--pocket {
		width: 85.71429%
	}

	.\31\/8--pocket {
		width: 12.5%
	}

	.\33\/8--pocket {
		width: 37.5%
	}

	.\35\/8--pocket {
		width: 62.5%
	}

	.\37\/8--pocket {
		width: 87.5%
	}

	.\31\/9--pocket {
		width: 11.11111%
	}

	.\32\/9--pocket {
		width: 22.22222%
	}

	.\34\/9--pocket {
		width: 44.44444%
	}

	.\35\/9--pocket {
		width: 55.55556%
	}

	.\37\/9--pocket {
		width: 77.77778%
	}

	.\38\/9--pocket {
		width: 88.88889%
	}

	.\31\/10--pocket {
		width: 10%
	}

	.\33\/10--pocket {
		width: 30%
	}

	.\37\/10--pocket {
		width: 70%
	}

	.\39\/10--pocket {
		width: 90%
	}

	.\31\/11--pocket {
		width: 9.09091%
	}

	.\32\/11--pocket {
		width: 18.18182%
	}

	.\33\/11--pocket {
		width: 27.27273%
	}

	.\34\/11--pocket {
		width: 36.36364%
	}

	.\35\/11--pocket {
		width: 45.45455%
	}

	.\36\/11--pocket {
		width: 54.54545%
	}

	.\37\/11--pocket {
		width: 63.63636%
	}

	.\38\/11--pocket {
		width: 72.72727%
	}

	.\39\/11--pocket {
		width: 81.81818%
	}

	.\31\30\/11--pocket {
		width: 90.90909%
	}

	.\31\/12--pocket {
		width: 8.33333%
	}

	.\35\/12--pocket {
		width: 41.66667%
	}

	.\37\/12--pocket {
		width: 58.33333%
	}

	.\31\31\/12--pocket {
		width: 91.66667%
	}
}

@media screen and (min-width: 801px) and (max-width: 1024px) {

	.\31\/2--lap,
	.\32\/4--lap,
	.\33\/6--lap,
	.\34\/8--lap,
	.\35\/10--lap,
	.\36\/12--lap {
		width: 50%
	}

	.\31\/3--lap,
	.\32\/6--lap,
	.\33\/9--lap,
	.\34\/12--lap {
		width: 33.33333%
	}

	.\32\/3--lap,
	.\34\/6--lap,
	.\36\/9--lap,
	.\38\/12--lap {
		width: 66.66667%
	}

	.\31\/4--lap,
	.\32\/8--lap,
	.\33\/12--lap {
		width: 25%
	}

	.\33\/4--lap,
	.\36\/8--lap,
	.\39\/12--lap {
		width: 75%
	}

	.\31\/5--lap,
	.\32\/10--lap {
		width: 20%
	}

	.\32\/5--lap,
	.\34\/10--lap {
		width: 40%
	}

	.\33\/5--lap,
	.\36\/10--lap {
		width: 60%
	}

	.\34\/5--lap,
	.\38\/10--lap {
		width: 80%
	}

	.\31\/6--lap,
	.\32\/12--lap {
		width: 16.66667%
	}

	.\35\/6--lap,
	.\31\30\/12--lap {
		width: 83.33333%
	}

	.\31\/7--lap {
		width: 14.28571%
	}

	.\32\/7--lap {
		width: 28.57143%
	}

	.\33\/7--lap {
		width: 42.85714%
	}

	.\34\/7--lap {
		width: 57.14286%
	}

	.\35\/7--lap {
		width: 71.42857%
	}

	.\36\/7--lap {
		width: 85.71429%
	}

	.\31\/8--lap {
		width: 12.5%
	}

	.\33\/8--lap {
		width: 37.5%
	}

	.\35\/8--lap {
		width: 62.5%
	}

	.\37\/8--lap {
		width: 87.5%
	}

	.\31\/9--lap {
		width: 11.11111%
	}

	.\32\/9--lap {
		width: 22.22222%
	}

	.\34\/9--lap {
		width: 44.44444%
	}

	.\35\/9--lap {
		width: 55.55556%
	}

	.\37\/9--lap {
		width: 77.77778%
	}

	.\38\/9--lap {
		width: 88.88889%
	}

	.\31\/10--lap {
		width: 10%
	}

	.\33\/10--lap {
		width: 30%
	}

	.\37\/10--lap {
		width: 70%
	}

	.\39\/10--lap {
		width: 90%
	}

	.\31\/11--lap {
		width: 9.09091%
	}

	.\32\/11--lap {
		width: 18.18182%
	}

	.\33\/11--lap {
		width: 27.27273%
	}

	.\34\/11--lap {
		width: 36.36364%
	}

	.\35\/11--lap {
		width: 45.45455%
	}

	.\36\/11--lap {
		width: 54.54545%
	}

	.\37\/11--lap {
		width: 63.63636%
	}

	.\38\/11--lap {
		width: 72.72727%
	}

	.\39\/11--lap {
		width: 81.81818%
	}

	.\31\30\/11--lap {
		width: 90.90909%
	}

	.\31\/12--lap {
		width: 8.33333%
	}

	.\35\/12--lap {
		width: 41.66667%
	}

	.\37\/12--lap {
		width: 58.33333%
	}

	.\31\31\/12--lap {
		width: 91.66667%
	}
}

@media screen and (min-width: 801px) {

	.\31\/2--lap-and-up,
	.\32\/4--lap-and-up,
	.\33\/6--lap-and-up,
	.\34\/8--lap-and-up,
	.\35\/10--lap-and-up,
	.\36\/12--lap-and-up {
		width: 50%
	}

	.\31\/3--lap-and-up,
	.\32\/6--lap-and-up,
	.\33\/9--lap-and-up,
	.\34\/12--lap-and-up {
		width: 33.33333%
	}

	.\32\/3--lap-and-up,
	.\34\/6--lap-and-up,
	.\36\/9--lap-and-up,
	.\38\/12--lap-and-up {
		width: 66.66667%
	}

	.\31\/4--lap-and-up,
	.\32\/8--lap-and-up,
	.\33\/12--lap-and-up {
		width: 25%
	}

	.\33\/4--lap-and-up,
	.\36\/8--lap-and-up,
	.\39\/12--lap-and-up {
		width: 75%
	}

	.\31\/5--lap-and-up,
	.\32\/10--lap-and-up {
		width: 20%
	}

	.\32\/5--lap-and-up,
	.\34\/10--lap-and-up {
		width: 40%
	}

	.\33\/5--lap-and-up,
	.\36\/10--lap-and-up {
		width: 60%
	}

	.\34\/5--lap-and-up,
	.\38\/10--lap-and-up {
		width: 80%
	}

	.\31\/6--lap-and-up,
	.\32\/12--lap-and-up {
		width: 16.66667%
	}

	.\35\/6--lap-and-up,
	.\31\30\/12--lap-and-up {
		width: 83.33333%
	}

	.\31\/7--lap-and-up {
		width: 14.28571%
	}

	.\32\/7--lap-and-up {
		width: 28.57143%
	}

	.\33\/7--lap-and-up {
		width: 42.85714%
	}

	.\34\/7--lap-and-up {
		width: 57.14286%
	}

	.\35\/7--lap-and-up {
		width: 71.42857%
	}

	.\36\/7--lap-and-up {
		width: 85.71429%
	}

	.\31\/8--lap-and-up {
		width: 12.5%
	}

	.\33\/8--lap-and-up {
		width: 37.5%
	}

	.\35\/8--lap-and-up {
		width: 62.5%
	}

	.\37\/8--lap-and-up {
		width: 87.5%
	}

	.\31\/9--lap-and-up {
		width: 11.11111%
	}

	.\32\/9--lap-and-up {
		width: 22.22222%
	}

	.\34\/9--lap-and-up {
		width: 44.44444%
	}

	.\35\/9--lap-and-up {
		width: 55.55556%
	}

	.\37\/9--lap-and-up {
		width: 77.77778%
	}

	.\38\/9--lap-and-up {
		width: 88.88889%
	}

	.\31\/10--lap-and-up {
		width: 10%
	}

	.\33\/10--lap-and-up {
		width: 30%
	}

	.\37\/10--lap-and-up {
		width: 70%
	}

	.\39\/10--lap-and-up {
		width: 90%
	}

	.\31\/11--lap-and-up {
		width: 9.09091%
	}

	.\32\/11--lap-and-up {
		width: 18.18182%
	}

	.\33\/11--lap-and-up {
		width: 27.27273%
	}

	.\34\/11--lap-and-up {
		width: 36.36364%
	}

	.\35\/11--lap-and-up {
		width: 45.45455%
	}

	.\36\/11--lap-and-up {
		width: 54.54545%
	}

	.\37\/11--lap-and-up {
		width: 63.63636%
	}

	.\38\/11--lap-and-up {
		width: 72.72727%
	}

	.\39\/11--lap-and-up {
		width: 81.81818%
	}

	.\31\30\/11--lap-and-up {
		width: 90.90909%
	}

	.\31\/12--lap-and-up {
		width: 8.33333%
	}

	.\35\/12--lap-and-up {
		width: 41.66667%
	}

	.\37\/12--lap-and-up {
		width: 58.33333%
	}

	.\31\31\/12--lap-and-up {
		width: 91.66667%
	}
}

@media screen and (max-width: 1024px) {

	.\31\/2--portable,
	.\32\/4--portable,
	.\33\/6--portable,
	.\34\/8--portable,
	.\35\/10--portable,
	.\36\/12--portable {
		width: 50%
	}

	.\31\/3--portable,
	.\32\/6--portable,
	.\33\/9--portable,
	.\34\/12--portable {
		width: 33.33333%
	}

	.\32\/3--portable,
	.\34\/6--portable,
	.\36\/9--portable,
	.\38\/12--portable {
		width: 66.66667%
	}

	.\31\/4--portable,
	.\32\/8--portable,
	.\33\/12--portable {
		width: 25%
	}

	.\33\/4--portable,
	.\36\/8--portable,
	.\39\/12--portable {
		width: 75%
	}

	.\31\/5--portable,
	.\32\/10--portable {
		width: 20%
	}

	.\32\/5--portable,
	.\34\/10--portable {
		width: 40%
	}

	.\33\/5--portable,
	.\36\/10--portable {
		width: 60%
	}

	.\34\/5--portable,
	.\38\/10--portable {
		width: 80%
	}

	.\31\/6--portable,
	.\32\/12--portable {
		width: 16.66667%
	}

	.\35\/6--portable,
	.\31\30\/12--portable {
		width: 83.33333%
	}

	.\31\/7--portable {
		width: 14.28571%
	}

	.\32\/7--portable {
		width: 28.57143%
	}

	.\33\/7--portable {
		width: 42.85714%
	}

	.\34\/7--portable {
		width: 57.14286%
	}

	.\35\/7--portable {
		width: 71.42857%
	}

	.\36\/7--portable {
		width: 85.71429%
	}

	.\31\/8--portable {
		width: 12.5%
	}

	.\33\/8--portable {
		width: 37.5%
	}

	.\35\/8--portable {
		width: 62.5%
	}

	.\37\/8--portable {
		width: 87.5%
	}

	.\31\/9--portable {
		width: 11.11111%
	}

	.\32\/9--portable {
		width: 22.22222%
	}

	.\34\/9--portable {
		width: 44.44444%
	}

	.\35\/9--portable {
		width: 55.55556%
	}

	.\37\/9--portable {
		width: 77.77778%
	}

	.\38\/9--portable {
		width: 88.88889%
	}

	.\31\/10--portable {
		width: 10%
	}

	.\33\/10--portable {
		width: 30%
	}

	.\37\/10--portable {
		width: 70%
	}

	.\39\/10--portable {
		width: 90%
	}

	.\31\/11--portable {
		width: 9.09091%
	}

	.\32\/11--portable {
		width: 18.18182%
	}

	.\33\/11--portable {
		width: 27.27273%
	}

	.\34\/11--portable {
		width: 36.36364%
	}

	.\35\/11--portable {
		width: 45.45455%
	}

	.\36\/11--portable {
		width: 54.54545%
	}

	.\37\/11--portable {
		width: 63.63636%
	}

	.\38\/11--portable {
		width: 72.72727%
	}

	.\39\/11--portable {
		width: 81.81818%
	}

	.\31\30\/11--portable {
		width: 90.90909%
	}

	.\31\/12--portable {
		width: 8.33333%
	}

	.\35\/12--portable {
		width: 41.66667%
	}

	.\37\/12--portable {
		width: 58.33333%
	}

	.\31\31\/12--portable {
		width: 91.66667%
	}
}

@media screen and (min-width: 1025px) {

	.\31\/2--desk,
	.\32\/4--desk,
	.\33\/6--desk,
	.\34\/8--desk,
	.\35\/10--desk,
	.\36\/12--desk {
		width: 50%
	}

	.\31\/3--desk,
	.\32\/6--desk,
	.\33\/9--desk,
	.\34\/12--desk {
		width: 33.33333%
	}

	.\32\/3--desk,
	.\34\/6--desk,
	.\36\/9--desk,
	.\38\/12--desk {
		width: 66.66667%
	}

	.\31\/4--desk,
	.\32\/8--desk,
	.\33\/12--desk {
		width: 25%
	}

	.\33\/4--desk,
	.\36\/8--desk,
	.\39\/12--desk {
		width: 75%
	}

	.\31\/5--desk,
	.\32\/10--desk {
		width: 20%
	}

	.\32\/5--desk,
	.\34\/10--desk {
		width: 40%
	}

	.\33\/5--desk,
	.\36\/10--desk {
		width: 60%
	}

	.\34\/5--desk,
	.\38\/10--desk {
		width: 80%
	}

	.\31\/6--desk,
	.\32\/12--desk {
		width: 16.66667%
	}

	.\35\/6--desk,
	.\31\30\/12--desk {
		width: 83.33333%
	}

	.\31\/7--desk {
		width: 14.28571%
	}

	.\32\/7--desk {
		width: 28.57143%
	}

	.\33\/7--desk {
		width: 42.85714%
	}

	.\34\/7--desk {
		width: 57.14286%
	}

	.\35\/7--desk {
		width: 71.42857%
	}

	.\36\/7--desk {
		width: 85.71429%
	}

	.\31\/8--desk {
		width: 12.5%
	}

	.\33\/8--desk {
		width: 37.5%
	}

	.\35\/8--desk {
		width: 62.5%
	}

	.\37\/8--desk {
		width: 87.5%
	}

	.\31\/9--desk {
		width: 11.11111%
	}

	.\32\/9--desk {
		width: 22.22222%
	}

	.\34\/9--desk {
		width: 44.44444%
	}

	.\35\/9--desk {
		width: 55.55556%
	}

	.\37\/9--desk {
		width: 77.77778%
	}

	.\38\/9--desk {
		width: 88.88889%
	}

	.\31\/10--desk {
		width: 10%
	}

	.\33\/10--desk {
		width: 30%
	}

	.\37\/10--desk {
		width: 70%
	}

	.\39\/10--desk {
		width: 90%
	}

	.\31\/11--desk {
		width: 9.09091%
	}

	.\32\/11--desk {
		width: 18.18182%
	}

	.\33\/11--desk {
		width: 27.27273%
	}

	.\34\/11--desk {
		width: 36.36364%
	}

	.\35\/11--desk {
		width: 45.45455%
	}

	.\36\/11--desk {
		width: 54.54545%
	}

	.\37\/11--desk {
		width: 63.63636%
	}

	.\38\/11--desk {
		width: 72.72727%
	}

	.\39\/11--desk {
		width: 81.81818%
	}

	.\31\30\/11--desk {
		width: 90.90909%
	}

	.\31\/12--desk {
		width: 8.33333%
	}

	.\35\/12--desk {
		width: 41.66667%
	}

	.\37\/12--desk {
		width: 58.33333%
	}

	.\31\31\/12--desk {
		width: 91.66667%
	}
}

@media screen and (min-width: 1160px) {

	.\31\/2--widescreen,
	.\32\/4--widescreen,
	.\33\/6--widescreen,
	.\34\/8--widescreen,
	.\35\/10--widescreen,
	.\36\/12--widescreen {
		width: 50%
	}

	.\31\/3--widescreen,
	.\32\/6--widescreen,
	.\33\/9--widescreen,
	.\34\/12--widescreen {
		width: 33.33333%
	}

	.\32\/3--widescreen,
	.\34\/6--widescreen,
	.\36\/9--widescreen,
	.\38\/12--widescreen {
		width: 66.66667%
	}

	.\31\/4--widescreen,
	.\32\/8--widescreen,
	.\33\/12--widescreen {
		width: 25%
	}

	.\33\/4--widescreen,
	.\36\/8--widescreen,
	.\39\/12--widescreen {
		width: 75%
	}

	.\31\/5--widescreen,
	.\32\/10--widescreen {
		width: 20%
	}

	.\32\/5--widescreen,
	.\34\/10--widescreen {
		width: 40%
	}

	.\33\/5--widescreen,
	.\36\/10--widescreen {
		width: 60%
	}

	.\34\/5--widescreen,
	.\38\/10--widescreen {
		width: 80%
	}

	.\31\/6--widescreen,
	.\32\/12--widescreen {
		width: 16.66667%
	}

	.\35\/6--widescreen,
	.\31\30\/12--widescreen {
		width: 83.33333%
	}

	.\31\/7--widescreen {
		width: 14.28571%
	}

	.\32\/7--widescreen {
		width: 28.57143%
	}

	.\33\/7--widescreen {
		width: 42.85714%
	}

	.\34\/7--widescreen {
		width: 57.14286%
	}

	.\35\/7--widescreen {
		width: 71.42857%
	}

	.\36\/7--widescreen {
		width: 85.71429%
	}

	.\31\/8--widescreen {
		width: 12.5%
	}

	.\33\/8--widescreen {
		width: 37.5%
	}

	.\35\/8--widescreen {
		width: 62.5%
	}

	.\37\/8--widescreen {
		width: 87.5%
	}

	.\31\/9--widescreen {
		width: 11.11111%
	}

	.\32\/9--widescreen {
		width: 22.22222%
	}

	.\34\/9--widescreen {
		width: 44.44444%
	}

	.\35\/9--widescreen {
		width: 55.55556%
	}

	.\37\/9--widescreen {
		width: 77.77778%
	}

	.\38\/9--widescreen {
		width: 88.88889%
	}

	.\31\/10--widescreen {
		width: 10%
	}

	.\33\/10--widescreen {
		width: 30%
	}

	.\37\/10--widescreen {
		width: 70%
	}

	.\39\/10--widescreen {
		width: 90%
	}

	.\31\/11--widescreen {
		width: 9.09091%
	}

	.\32\/11--widescreen {
		width: 18.18182%
	}

	.\33\/11--widescreen {
		width: 27.27273%
	}

	.\34\/11--widescreen {
		width: 36.36364%
	}

	.\35\/11--widescreen {
		width: 45.45455%
	}

	.\36\/11--widescreen {
		width: 54.54545%
	}

	.\37\/11--widescreen {
		width: 63.63636%
	}

	.\38\/11--widescreen {
		width: 72.72727%
	}

	.\39\/11--widescreen {
		width: 81.81818%
	}

	.\31\30\/11--widescreen {
		width: 90.90909%
	}

	.\31\/12--widescreen {
		width: 8.33333%
	}

	.\35\/12--widescreen {
		width: 41.66667%
	}

	.\37\/12--widescreen {
		width: 58.33333%
	}

	.\31\31\/12--widescreen {
		width: 91.66667%
	}
}

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {

	.\31\/2--retina,
	.\32\/4--retina,
	.\33\/6--retina,
	.\34\/8--retina,
	.\35\/10--retina,
	.\36\/12--retina {
		width: 50%
	}

	.\31\/3--retina,
	.\32\/6--retina,
	.\33\/9--retina,
	.\34\/12--retina {
		width: 33.33333%
	}

	.\32\/3--retina,
	.\34\/6--retina,
	.\36\/9--retina,
	.\38\/12--retina {
		width: 66.66667%
	}

	.\31\/4--retina,
	.\32\/8--retina,
	.\33\/12--retina {
		width: 25%
	}

	.\33\/4--retina,
	.\36\/8--retina,
	.\39\/12--retina {
		width: 75%
	}

	.\31\/5--retina,
	.\32\/10--retina {
		width: 20%
	}

	.\32\/5--retina,
	.\34\/10--retina {
		width: 40%
	}

	.\33\/5--retina,
	.\36\/10--retina {
		width: 60%
	}

	.\34\/5--retina,
	.\38\/10--retina {
		width: 80%
	}

	.\31\/6--retina,
	.\32\/12--retina {
		width: 16.66667%
	}

	.\35\/6--retina,
	.\31\30\/12--retina {
		width: 83.33333%
	}

	.\31\/7--retina {
		width: 14.28571%
	}

	.\32\/7--retina {
		width: 28.57143%
	}

	.\33\/7--retina {
		width: 42.85714%
	}

	.\34\/7--retina {
		width: 57.14286%
	}

	.\35\/7--retina {
		width: 71.42857%
	}

	.\36\/7--retina {
		width: 85.71429%
	}

	.\31\/8--retina {
		width: 12.5%
	}

	.\33\/8--retina {
		width: 37.5%
	}

	.\35\/8--retina {
		width: 62.5%
	}

	.\37\/8--retina {
		width: 87.5%
	}

	.\31\/9--retina {
		width: 11.11111%
	}

	.\32\/9--retina {
		width: 22.22222%
	}

	.\34\/9--retina {
		width: 44.44444%
	}

	.\35\/9--retina {
		width: 55.55556%
	}

	.\37\/9--retina {
		width: 77.77778%
	}

	.\38\/9--retina {
		width: 88.88889%
	}

	.\31\/10--retina {
		width: 10%
	}

	.\33\/10--retina {
		width: 30%
	}

	.\37\/10--retina {
		width: 70%
	}

	.\39\/10--retina {
		width: 90%
	}

	.\31\/11--retina {
		width: 9.09091%
	}

	.\32\/11--retina {
		width: 18.18182%
	}

	.\33\/11--retina {
		width: 27.27273%
	}

	.\34\/11--retina {
		width: 36.36364%
	}

	.\35\/11--retina {
		width: 45.45455%
	}

	.\36\/11--retina {
		width: 54.54545%
	}

	.\37\/11--retina {
		width: 63.63636%
	}

	.\38\/11--retina {
		width: 72.72727%
	}

	.\39\/11--retina {
		width: 81.81818%
	}

	.\31\30\/11--retina {
		width: 90.90909%
	}

	.\31\/12--retina {
		width: 8.33333%
	}

	.\35\/12--retina {
		width: 41.66667%
	}

	.\37\/12--retina {
		width: 58.33333%
	}

	.\31\31\/12--retina {
		width: 91.66667%
	}
}


$thumb: "screen and (max-width: 448px)";
$handheld: "screen and (min-width: 549px) and (max-width: 767px)";
$handheld-and-up: "screen and (min-width: 768px)";
$pocket: "screen and (max-width: 767px)";
$lap: "screen and (min-width: 768px) and (max-width: 1024px)";
$lap-and-up: "screen and (min-width: 767px)";
$portable: "screen and (max-width: 1024px)";
$desk: "screen and (min-width: 1025px)";
$widescreen: "screen and (min-width: 1160px)";


$c-product-subtitle: {
		{
		settings.product_subtitle_color
	}
}

;

@mixin av-mq($alias) {
	@if $alias=="thumb" {
		@media #{$thumb} {
			@content;
		}
	}

	@else if $alias=="handheld" {
		@media #{$handheld} {
			@content;
		}
	}

	@else if $alias=="handheld-and-up" {
		@media #{$handheld-and-up} {
			@content;
		}
	}

	@else if $alias=="pocket" {
		@media #{$pocket} {
			@content;
		}
	}

	@else if $alias=="lap" {
		@media #{$lap} {
			@content;
		}
	}

	@else if $alias=="lap-and-up" {
		@media #{$lap-and-up} {
			@content;
		}
	}

	@else if $alias=="portable" {
		@media #{$portable} {
			@content;
		}
	}

	@else if $alias=="desk" {
		@media #{$desk} {
			@content;
		}
	}

	@else if $alias=="widescreen" {
		@media #{$widescreen} {
			@content;
		}
	}
}


nav.nav-standard.nav-main::before {
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 45px;
	height: 7px;
	background: #21e8ff;
}

.header--no-bg .menu-item>a::after,
.header--no-bg .submenu-item>a::after,
.header--no-bg .submenu-item__title::after {
	border-bottom: 4px solid #21e8ff;
}

html {
	scroll-behavior: smooth;
}

a,
a:hover {
	color: black;
	text-decoration: none;
	/* no underline */
}


#section-product-all-in-one {
	width: calc(100% - 80px);
	margin: 0 auto;
}


.custom-footer-block-global {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.custom-footer-block-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 10px;
}

.custom-footer-image-container {
	padding: 5px;
}

.custom-footer-icon {
	margin: 2px;
	max-width: 50px;
}

.custom-footer-info-container,
.custom-footer-image-container {
	display: inline-block;
}

.custom-footer-info {
	font-size: 1.3em;
	padding-left: 5px;
	position: relative;
	top: 5px;
}

.modal-title-custom {
	margin-bottom: 30px;
	margin-left: 0;
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-top: 15px;
}

[data-dismiss="modal"] {
	cursor: pointer;
}

.modal-content-custom {
	position: relative;
	padding: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: black;
	color: white;
	font-weight: 300;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
}

[data-close-modal] {
	width: 30px;
	position: absolute;
	right: -20px;
	top: -15px;
}

@media only screen and (max-width: 768px) {
	.custom-footer-block-padding {
		padding: 0 20px;
	}

	.custom-footer-block-container {
		margin: 10px 20px;
	}

	.custom-footer-block-global {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.custom-footer-block-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.custom-footer-info-container {
		padding: 5px;
	}

	.custom-footer-info {
		margin: 2px;
	}

	.modal-title-custom {
		margin-left: 85px;
		padding-top: 15px;
		color: white;
	}

	.modal-content-custom {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #070E15;
		color: white;
		font-weight: 300;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
		outline: 0;
	}
}

@media only screen and (max-width: 320px) {
	.custom-footer-block-padding {
		padding: 0 20px;
	}

	.custom-footer-block-container {
		margin: 10px 20px;
	}

	.custom-footer-block-global {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.custom-footer-block-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.custom-footer-info-container {
		padding: 5px;
	}

	.custom-footer-info {
		margin: 2px;
	}

	.modal-title-custom {
		margin-left: 55px;
		padding-top: 10px;
		color: white;
	}

	.modal-content-custom {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #070E15;
		color: white;
		font-weight: 300;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
		outline: 0;
	}
}

/* video-custom theme */

.custom-video-padding {
	padding: 0 20px;
}

.custom-video-container {
	margin: 0 15px;
}

.custom-video-heading-padding {
	padding: 5px;
	padding-top: 45px;
}

.custom-video-heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.h3 {
		font-size: 2em;
	}

	.custom-video-heading-content-paragraph {
		margin-bottom: 20px;
	}
}

.custom-video-iframe-padding {
	padding: 0 95px;
	padding-bottom: 55px;
}

.custom-video-iframe-container {
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	width: 100%;
}

.custom-video-iframe-content {
	width: 100%;
	height: 550px;

	@include av-mq("pocket") {
		height: 400px;
	}
}


@media only screen and (max-width: 770px) {
	.custom-video-padding {
		padding: 0 20px;
	}

	.custom-video-container {
		margin: 2px;
	}

	.custom-video-heading-padding {
		padding: 0 5px;
	}

	.custom-video-heading-content-title {
		padding-top: 25px;
	}

	.custom-video-heading-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.custom-video-heading-content-paragraph {
		display: flex;
		justify-content: center;
		padding: 2px 20px;
	}

	.custom-video-iframe-padding {
		padding: 10px 45px;
		padding-bottom: 40px;
	}

	.custom-video-iframe-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.custom-video-iframe-content {
		width: 100%;
		height: 350px;
	}
}

@media only screen and (max-width: 325px) {
	.custom-video-padding {
		padding: 0 20px;
	}

	.custom-video-container {
		margin: 2px;
	}

	.custom-video-heading-padding {
		padding: 0 5px;
	}

	.custom-video-heading-content-title {
		padding-top: 25px;
	}

	.custom-video-heading-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.custom-video-heading-content-paragraph {
		display: flex;
		justify-content: center;
		padding: 2px 20px;
	}

	.custom-video-iframe-padding {
		padding: 1px;
		padding-bottom: 25px
	}

	.custom-video-iframe-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.custom-video-iframe-content {
		width: 100%;
	}
}

.container--product {
	padding-right: 0;
}

.product-form {
	overflow: hidden;
}

/** PRODUCT TEMPLATE G **/

.product__tabs {
	.container {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.js-product-tabs {
		display: block;
		padding-top: 20px;
		padding-bottom: 10px;
	}

	.product-tab-title {
		font-weight: bold;
		font-size: 1em;
		border: 0;
	}

	.product-tabs-nav,
	.product-tabs-contents {
		width: 100%;
	}

	.product-tab-title .button-toggle {
		margin: 10px 10px 0 0;
		width: 13px;
		height: 16px;
	}

	.product-tabs-contents {
		margin-top: -20px;
	}
}

.product-single__thumbnail--product-template {
	transform: rotate(270deg);
}

.product-title {
	text-transform: uppercase;
	font-weight: bold;
}

.product-subtitle {
	display: block;
	font-size: 1.1em;
	margin-top: -10px;
	margin-bottom: 20px;
	color: $c-product-subtitle;
}

.product-price {
	font-size: 1.8em !important;
	font-weight: bold;
}

.selector-wrapper {
	padding-left: 50px;

	label {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-size: 1.1em;
	}
}

.product-form {
	margin-top: 20px;
}

.installments {
	position: absolute;
	font-weight: 500;
	bottom: -5px;
}

.product-image.hide {
	//display: none;
}

.productImgSlider {
	padding-left: 80px;
	padding-right: 80px;
}

.productImgSlider-nav {
	transform: rotate(90deg);
	height: 130px;
	width: 400px;
	position: absolute;
	left: -200px;
	top: 30%;
	padding: 10px 10px;

	.product-single__thumbnail,
	.product-single__thumbnail-img {
		width: 70px;
		height: 70px;
	}

	.flickity-prev-next-button.next {
		right: -35px;
	}

	.flickity-prev-next-button.previous {
		left: -35px;
	}
}

.product-layout-images {
	position: relative;
}

.product-single__media-thumb {
	width: 77px;
	height: 108px;
}

.product-layout-images {
	width: 60%;
	max-width: 60%;
}

.product-delivery {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

.product-description {
	padding-top: 2px;
}

#section-product-aio-video {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}



@media screen and (min-width: 1024px) {
	.row--scrollable .product-layout-images--large {
		width: 60%;
	}

	.product-info {
		width: 40%;
	}
}

@media screen and (min-width: 768px) {
	.product-delivery {
		width: 500px;
		max-width: 100%;
	}
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
	.product-info {
		padding-right: 10px;
	}

	#section-product-all-in-one {
		width: calc(100% - 20px);
	}

	.custom-footer-info-container,
	.custom-footer-image-container {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.custom-footer-info {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 767px) {
	.productImgSlider-nav {
		transform: none;
		height: auto;
		width: 100%;
		position: relative;
		left: 0;
		top: 0;
		padding: 0;
		max-width: 440px;
		margin: 0 auto;
	}

	.product .container--product {
		padding-right: 40px;
	}

	.product-layout-images {
		width: 100%;
		max-width: 100%;
	}

	.product-subtitle {
		text-align: center;
	}

	.product-single__thumbnail--product-template {
		transform: none;
	}

	.installments {
		width: 100%;
		text-align: center;
	}

	.custom-footer-block-padding {
		padding: 0;
	}

	.product-description {
		text-align: left;
		padding-bottom: 0;
		margin-bottom: -10px;
	}

	.custom-footer-block-section a {
		width: 100%;
	}

	.custom-footer-block-section {
		width: 100%;
		text-align: left;
		padding-left: 0;
	}

	.custom-footer-block-container {
		margin-left: 0;

		img {
			max-width: 40px;
		}
	}

	.productForm-block .selector-wrapper {
		padding-left: 0;
	}

	.modal-title-custom {
		margin-left: 0;
	}

	.product-tab-content.is-active {
		margin: 0;
	}

	.product-tab-title {
		margin-bottom: -10px;
	}
}

@media screen and (max-width: 549px) {
	.container {
		padding: 0 20px !Important;
		padding-right: 20px;
	}

	#section-product-all-in-one {
		width: calc(100% - 40px);
		margin: 0 auto;
	}

	.productImgSlider-nav {
		max-width: 280px;
	}

	.modal-dialog {
		margin: 20px;
	}

	.productImgSlider-nav .flickity-prev-next-button {
		display: block;
	}
}

.feature-item:last-child {
	margin-bottom: 40px;
}

#section-product-aio-icons-text {
	background: #49484c;
	margin-bottom: 40px;
	padding-bottom: 20px;

	img {
		max-width: 75px;
	}

	h3 {
		font-weight: bold;
		color: white;
	}

	h2 {
		color: white;
		text-align: center;
		font-weight: bold;
		padding: 10px;
	}

	.grid__cell {
		text-align: center;
	}
}

.features-inline__head {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 40px;

	h2 {
		font-weight: bold;
	}
}

.features-inline__text {
	padding: 20px;
	background: #49484c;
	color: white;

	h3 {
		color: white;
		font-weight: bold;
	}
}

.features-inline__image {
	img {
		width: 100%;
	}
}

.product-aio-features-inline {
	margin-top: 20px;
	margin-bottom: 40px;
}


#section-product-aio-faq {
	width: 100%;

	h2 {
		margin-bottom: 0;
		font-weight: bold;
	}
}

.faq-list {
	width: 100%;
	max-width: 100%;
}

.faq-list__item-question {
	padding: 8px 0;
	font-weight: bold;
}

.faq-content {
	margin-top: 20px;
}

@include av-mq("pocket") {
	.features-inline__item {
		margin-bottom: 30px;
	}

	.feature-image {
		width: 100%;
		margin: 0;
		margin-bottom: 30px;
	}

	#section-product-aio-icons-text .grid__cell {
		text-align: center;
		margin-bottom: 30px;
	}
}

/*  FOOTER SECTION THEME  */
.social-link .icon {
	width: 111px;
	height: 60px;
}

.social-link .icon:hover {
	color: #21e8ff;
}

/* 4k Display */

.footer__block-menu-socialmedia {
	float: left;
}

.footer__block {
	width: 20%;
}


/* Laptop(S,M,L) Display */
@media only screen and (max-width: 1440px) {
	.footer__block-menu-socialmedia {
		float: left;
	}

	.footer__block {
		width: 20%;
	}


	/* Tablet(S) Display */
	@media only screen and (max-width: 768px) {
		.footer__block-menu-socialmedia {
			float: left;
		}

		.footer__block {
			width: 20%;
		}

		.social-link .icon {
			width: 75px;
			height: 35px;
		}


	}

	/* Mobile(S,M,L) Display */
	@media only screen and (max-width: 425px) {
		.footer__block {
			margin: 0px;
		}

		.footer__block-menu-socialmedia {
			float: left;
		}

		.footer__block {
			width: 100%;
		}
	}

	/* HEADER SECTION THEME */



	/* 4k Display */
	nav.nav-standard.nav-main::before {
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		bottom: 45px;
		height: 7px;
		background: #21e8ff;
	}

	.menu-item>a::after,
	.submenu-item>a::after,
	.submenu-item__title::after {
		content: '';
		display: block;
		border-bottom: 4px solid #21e8ff;
		margin-bottom: -4px;
		transform-origin: 100% 50%;
		transform: scaleX(0);
		-webkit-transition: transform 0.2s ease-in-out;
		-moz-transition: transform 0.2s ease-in-out;
		-ms-transition: transform 0.2s ease-in-out;
		transition: transform 0.2s ease-in-out;
	}

	.header--no-bg .menu-item>a::after,
	.header--no-bg .submenu-item>a::after,
	.header--no-bg .submenu-item__title::after {
		border-bottom: 4px solid #21e8ff;
	}

	.megamenu__image {
		float: right
	}


	/* Laptop(S,M,L) Display */
	@media only screen and (min-width: 1440px) {
		nav.nav-standard.nav-main::before {
			content: '';
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 45px;
			height: 7px;
			background: #21e8ff;
		}

		.menu-item>a::after,
		.submenu-item>a::after,
		.submenu-item__title::after {
			content: '';
			display: block;
			border-bottom: 4px solid #21e8ff;
			margin-bottom: -4px;
			transform-origin: 100% 50%;
			transform: scaleX(0);
			-webkit-transition: transform 0.2s ease-in-out;
			-moz-transition: transform 0.2s ease-in-out;
			-ms-transition: transform 0.2s ease-in-out;
			transition: transform 0.2s ease-in-out;
		}

		.header--no-bg .menu-item>a::after,
		.header--no-bg .submenu-item>a::after,
		.header--no-bg .submenu-item__title::after {
			border-bottom: 4px solid #21e8ff;
		}

		.megamenu__image {
			float: right
		}

		.footer-block-third-block {
			padding-top: 20%;
		}
	}

	/* Tablet(S) Display */
	@media only screen and (min-width: 768px) {
		nav.nav-standard.nav-main::before {
			content: '';
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 45px;
			height: 7px;
			background: #21e8ff;
		}

		.menu-item>a::after,
		.submenu-item>a::after,
		.submenu-item__title::after {
			content: '';
			display: block;
			border-bottom: 4px solid #21e8ff;
			margin-bottom: -4px;
			transform-origin: 100% 50%;
			transform: scaleX(0);
			-webkit-transition: transform 0.2s ease-in-out;
			-moz-transition: transform 0.2s ease-in-out;
			-ms-transition: transform 0.2s ease-in-out;
			transition: transform 0.2s ease-in-out;
		}

		.header--no-bg .menu-item>a::after,
		.header--no-bg .submenu-item>a::after,
		.header--no-bg .submenu-item__title::after {
			border-bottom: 4px solid #21e8ff;
		}

		.megamenu__image {
			float: right
		}
	}

	/* Mobile(S,M,L) Display */
	@media only screen and (max-width: 425px) {
		nav.nav-standard.nav-main::before {
			content: '';
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 45px;
			height: 7px;
			background: #21e8ff;
		}

		.menu-item>a::after,
		.submenu-item>a::after,
		.submenu-item__title::after {
			content: '';
			display: block;
			border-bottom: 4px solid #21e8ff;
			margin-bottom: -4px;
			transform-origin: 100% 50%;
			transform: scaleX(0);
			-webkit-transition: transform 0.2s ease-in-out;
			-moz-transition: transform 0.2s ease-in-out;
			-ms-transition: transform 0.2s ease-in-out;
			transition: transform 0.2s ease-in-out;
		}

		.header--no-bg .menu-item>a::after,
		.header--no-bg .submenu-item>a::after,
		.header--no-bg .submenu-item__title::after {
			border-bottom: 4px solid #21e8ff;
		}

		.megamenu__image {
			float: right
		}
	}
}

/*  NOUS-REJOINDRE */
.rowCustom {
	display: flex;
	flex-wrap: wrap;
}

/* FORM SECTION  */
.form__header--bgImg {
	background-size: cover;
	background-position: center;
	min-height: 650px;
	left: 0;
	right: 0;
	top: 0;
}

.form__grid {
	max-width: 1340px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.form__wrapper {
	align-items: center !important;
	margin-right: -15px;
	margin-left: -15px;
}

.form__heading--container {
	flex: 0 0 50%;
	max-width: 50%;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	text-align: left;
	padding-top: 10%;
}

.form__heading--title {
	font-size: 3.375rem;
	letter-spacing: 0;
	line-height: 1.1em;
}

.form__heading--h1 {
	color: white;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
	color: #fff !important;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	padding-bottom: 60px;
}

.form__form--contactWrapper {
	margin-top: 0px;
}

.form__form--wrapper {
	align-self: flex-end;
	margin-bottom: -30px;
	padding: 0 30px;
	margin-left: 8.3333333333%;
	flex: 0 0 33.3333333333%;
	max-width: 33.3333333333%;
	width: 100%;
	padding-top: 10%;
}

.form__form--main {
	box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
	background-color: #fff;
	padding: 30px;
}

.form__form--contactWrapper {
	margin-top: 0px;
}

.form__form--contactStep {
	text-align: right;
	color: #D1D1D1;
	font-size: 0.8125rem;
}

.form__form--contactTitle {
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-size: 1.375rem;
	padding-bottom: 30px;
	position: relative;
	text-align: left;
}

.form__form--contactTitle::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 60px;
	height: 4px;
	background-color: #21E8FF;
}

.form__form--coordContent {
	font-family: "Roboto-Bold", sans-serif;
	font-size: 1rem;
	color: #078d96;
	font-weight: 600;
	line-height: 1.5;
	text-align: left;
}

/* FORM STEP 0 */
.form__form--stepform {
	margin-bottom: 41%;
}

.form__form--spanCivility {
	width: 100%;
	display: inline-block;
	font-size: 0.75rem;
	padding-bottom: 10px;
	text-align: left;
}

.form__form--radioContainer {
	flex: 0 0 50%;
	max-width: 50%;
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

.form__form--radio {
	display: block;
	position: relative;
	padding-top: 4px;
	padding-left: 23%;
	margin-bottom: 12px;
	color: #49474b;
	font-style: normal;
	cursor: pointer;
	user-select: none;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	width: 100%;
	max-width: 300px;
	text-align: left;
}

.form__form--radioInput {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0;
	overflow: visible;
}

.form__form--radioInput:checked~.form__form--checkmark {
	background-color: #fff;
	border: solid 1px #21E8FF;
}

.form__form--radioInput:checked~.form__form--checkmark::after {
	background-color: #21E8FF;
	border: solid 1px #21E8FF;
	display: block;
}

.form__form--checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 26px;
	width: 26px;
	background-color: #eee;
	border-radius: 50%;
	border: solid 1px #d1d1d1;
	transition: all 0.3s ease;
	display: inline-block;
	font-size: 0.75rem;
	padding-bottom: 10px;
}

.form__form--checkmark::after {
	content: "";
	position: absolute;
	display: none;
	top: 3px;
	left: 3px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #21E8FF;
}

.form__form--labelEmpty {
	color: #D1D1D1;
	font-style: normal;
	position: absolute;
	margin-top: 12px;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	padding-left: .5rem;
	width: 100%;
	max-width: 300px;
	text-align: left;
}

.form__form--labelEmpty:focus {
	font-style: italic;
	color: #9E9C9C;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	padding-left: .5rem;
	width: 100%;
	max-width: 300px;
	display: inline-block;
	margin-bottom: 0;
	text-align: left;
}


.form__form--input {
	display: block;
	width: 100%;
	margin-top: 3%;
	height: calc(1.5em + .75rem + 2px);
	padding: .5rem .5rem;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	background-color: transparent;
	background-clip: padding-box;
	color: #2F3A43;
	border-bottom: 1px solid #9E9C9C !important;
	border-top: 0px solid transparent !important;
	border-left: 0px solid transparent !important;
	border-right: 0px solid transparent !important;
	border-radius: 0;
	border-left: none;
	border-top: none;
	border-right: none;
}

.form__form--inputValid {
	border-color: #28a745;
	color: #28a745;
	border-left: none;
	border-top: none;
	border-right: none;
}

.form__form--inputInvalid {
	width: 100%;
	margin-top: .25rem;
	font-size: 80%;
	color: #dc3545;
}

.form__form--buttonWrapper {
	margin-top: 4%;
}

.form__form--button {
	border: transparent;
	font-weight: 700;
	font-size: .9rem;
}

// FORM STEP 1
.stepform--1 {
	display: none;
}

.form__form--buttonStep1 {
	margin-top: 7%;
}

// FORM STEP 2
.stepform--2 {
	display: none;
}

.form__form--message {
	height: auto;
	border: 1px solid #9E9C9C;
	display: block;
	width: 100%;
	padding: .5rem .5rem;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: #2F3A43;
	background-color: transparent;
	background-clip: padding-box;
	border-radius: 0;
}

.form__form--labelTextarea {
	text-align: left;
	margin-top: 5%;
	font-style: italic;
	color: #9E9C9C;
	font-size: 14px;
	font-family: Roboto, Verdana, "Helvetica Neue", sans-serif;
	padding-left: .5rem;
	width: 100%;
	max-width: 300px;
}

// FORM STEP 3
.stepform--3 {
	display: none;
}

/* UNDERHERO SECTION */
.underhero__wrapper {
	padding: 40px 0;
	background-color: #000;
}

.underhero__wrapper--container {
	width: 100%;
}

.underhero__grid {
	display: flex;
	margin-left: 0px
}

.underhero__img--content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.underhero__img--svg {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	width: 100%;
	padding: 30px;
	max-width: 400px;
}

.underhero__info--content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	height: 100%;
	text-align: left;
}

.underhero__info--content>div {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	width: 100%;
	padding: 25px;
	color: #fff;
}

.underhero__info--title {
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	font-size: 2.45rem;
	line-height: 1em;
	color: #21E8FF;
}

.underhero__li::before {
	content: '✓';
	position: absolute;
	top: 0;
	left: 0;
}

.underhero__li {
	color: #fff;
	position: relative;
	padding-left: 30px;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-size: 1.45rem;
	line-height: 1em;
	margin-bottom: 15px;
}

/*  VIDEO SECTION  */
.video__wrapper {
	margin: 80px 1%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
}

.video__wrapper--container {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.video__grid {
	display: block;
	margin-left: 0px;
}

.video__text--content {
	padding: 1% 2%;
	text-align: left;
}

.video__text--title {
	padding-top: 60px;
	font-size: 3.3rem;
	word-break: break-word;
	hyphens: auto;
	padding-bottom: 20px;
	letter-spacing: -1px;
	color: #49474B;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-weight: 900;
	margin: 0;
	text-transform: uppercase;
	line-height: 1;
}

.video__text--paragraph {
	font-size: 1.2rem;
	padding: 0;
	margin-top: 0;
	margin-bottom: 24px;
}

.video__content--wrapper {
	width: 100%
}

.video__figure--container {
	width: 100%;
	margin-bottom: 1em;
	margin: 0 0 1em;
	display: block;
}

.video__iframe--wrapper {
	position: relative;
	padding-top: 60%;

}

.video__iframe--content {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

/* INFO PUSH */
.info__wrapper {
	margin: 80px 3%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	text-align: left;
}

.info__container {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	margin-left: 0px;
}

.info__first--container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	mix-blend-mode: multiply;
	background-attachment: fixed;
	background-position: center;
	z-index: 0;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.info__bluepatern--container {
	mix-blend-mode: multiply;
	background-attachment: fixed;
	background-position: center;
	z-index: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.info__img--cell {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	padding-right: 15px;
	padding-left: 15px;
	max-width: 50%;
	width: 100%;
}

.info__img--container {
	width: 70%;
	margin: 0 auto;
}

.info__img--svg {
	margin: 60px 0;
	width: 100%;
	height: auto;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle
}

.info__text--cell {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}

.info__second--cell {
	margin: 0 0 0 0;
}

.info__paragraph--primary {
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
	font-size: 1.45rem;
	line-height: 1em;
	color: #000;
	margin-top: 20px;
	padding-right: 20px;
	text-align: left;
}

.info__text--title {
	text-transform: uppercase;
	font-size: 2.5rem;
	word-break: break-word;
	hyphens: auto;
	padding-top: 60px;
	padding-bottom: 20px;
	text-align: left;
	font-weight: 900;
	font-family: "Ringside Wide", "Arial Black", "Helvetica Neue", sans-serif;
}

.info__paragraph--second {
	font-size: 1.2rem;
	padding: 0;
	margin-top: 0;
	margin-bottom: 24px;
	text-align: left;
}

.info__button {
	border: transparent;
	font-weight: 700;
	font-size: .9rem;
	;
}


@include av-mq(pocket) {

	//UNDERHERO SECTION
	.rowCustomUnderhero {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.underhero__wrapper {
		padding: 20px 20px;
		background-color: #000;
	}

	.underhero__grid {
		display: block;
	}

	.underhero__img--cell {
		margin: 0px;
		width: 100%;
	}

	.underhero__grid--cell {
		width: 100%;
		text-align: left;
	}

	.underhero__img--content {
		padding-right: 10%;
		padding-left: 10%;
	}

	.underhero__img--svg {
		padding: 20px;
		max-width: 200px;
	}

	.underhero__info--content {
		padding: 20px 10px 0;
	}

	.underhero__info--content>div {
		padding: 20px 10px 0;
	}

	// VIDEO SECTION
	.video__wrapper {
		margin: 40px 20px;
	}

	.video__wrapper--container {
		max-width: 720px;
	}

	.video__grid {
		display: block;
		margin-left: 0px;
	}

	.video__text--content {
		padding: 0px;
	}

	.video__text--title {
		font-size: calc(1.285rem + .42vw)
	}

	.video__text--pargraph {
		font-size: 1rem;
	}

	.info__wrapper {
		margin: 40px 20px;
	}

	.info__container {
		max-width: 720px;
		margin-left: 0px;
	}

	.info__img--cell {
		max-width: 70%;
		padding-left: 0px;
		padding-right: 0px;
	}

	.info__img--container {
		width: 100%;
	}

	.info__text--cell {
		margin: 0;
		width: 100%;
		margin-bottom: 35px;
	}

	.info__second--container {
		padding: 0 20px;
	}

	.info__paragraph--primary {
		margin-left: 10px;
		margin-right: 10px;
	}

	.info__text--title {
		font-size: 1.3rem;
	}

	.form__grid {
		max-width: 720px;
	}

	.form__heading--container {
		flex: 0 0 100%;
		max-width: 100%;
		padding-right: 40px;
		padding-left: 40px;
	}

	.form__form--wrapper {
		margin-bottom: 60px;
		margin-left: 0;
		padding: 0 40px;
		flex: 0 0 100%;
		max-width: 100%;
		width: 100%;
		padding-top: 0;
	}

	.form__form--stepform {
		margin-bottom: 0;
	}

	.form__form--gridPocketCustom {
		display: flex;
		margin: 0 auto;
		flex-direction: row;
	}

	.form__form--spanCivility {
		width: 11%;
	}

	.form__form--radioWidth {
		width: 100%;
	}
}

@include av-mq(thumb) {
	.underhero__grid {
		margin: 0px;
	}

	.underhero__info--title {
		font-size: 1.8rem;
	}

	.video__text--paragraph {
		font-size: 1rem;
	}

	.video__iframe--content {
		height: 100%;
	}

	.info__paragraph--primary {
		font-size: 1.25rem;
	}

	.info__paragraph--second {
		font-size: 1rem;
	}

	.form__grid {
		padding-top: 30%;
	}

	.form__heading--container {
		padding: 0 20px;
	}

	.form__form--contactTitle {
		font-size: 1rem;
	}

	.form__form--spanCivility {
		width: 27%;
	}

	.form__form--gridPocketCustom {
		display: flex;
		margin: 0 auto;
		flex-direction: column;
	}

	.form__form--radioContainer {
		font-family: Roboto, sans-serif;
		font-weight: 400;
		font-style: normal;
		text-align: center;
		padding-right: 0;
		padding-left: 0;
	}

	.form__form--radio {
		text-align: center;
	}
}