// custom footer theme 

html {
	scroll-behavior: smooth;
}

a {
	color: black;
	text-decoration: none;
	/* no underline */
}

p {
	font-family: 'Roboto';
}

.custom-footer-block-padding {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	width: 100%;
}


.custom-footer-block-container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
}

.custom-footer-block-global {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.custom-footer-block-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 65px;
	padding-right: 40px;

}

.custom-footer-info-container {
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	align-items: center;
}

.custom-footer-info {
	margin-left: 15px;
	margin-right: 15px;
}

.modal-title-custom {
	display: flex;
	justify-content: center;
	padding: 0.3rem;
	color: white;
}

.modal-content-custom {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #070E15;
	color: white;
	font-weight: 300;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
}

@media only screen and (max-width: 749px) {
	.custom-footer-block-padding {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.custom-footer-block-container {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.custom-footer-block-global {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.custom-footer-block-section {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
	}

	.modal-title {
		margin-left: 100px;
	}
}

// video-custom theme

.video-custom-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* width: 100%; */
	padding: 20px;
	margin: 15px;
	background-color: #49474B;
	color: white;
}

.video-custom-heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 5px;
}

.video-custom-heading-title {
	flex-direction: row;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
	color: white;
}

.video-custom-heading-content {
	display: flex;
	justify-content: center;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 1px;
}

.video-custom-player-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 15px;
	margin: 5px;
	width: 100%;
	/* height: 400px; */
}

.video-custom-player-content {}

.video-custom-player-iframe {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 550px;
}

@media only screen and (max-width: 749px) {
	.video-custom-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px;
		margin: 10px;
		background-color: #49474B;
		color: white;
	}

	.video-custom-heading {
		display: flex;
		flex-direction: column;
		margin: 5px;
		padding: 10px;
		justify-content: center;
		align-items: center;
	}

	.video-custom-heading-title {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-top: 5px;
		margin-bottom: 5px;
		margin-left: 40px;
		margin-right: 40px;
		color: white;
	}

	.video-custom-heading-content {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 5px;
		width: 100%;
		margin-bottom: 1px;
	}

	.video-custom-player-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		padding: 10px;
		margin: 5px;
	}

	.video-custom-player-content {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	.video-custom-player-iframe {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		height: 450px;
	}
}