/* custom footer theme */

html {
	scroll-behavior: smooth;
}

a {
	color: black;
	text-decoration: none;
	/* no underline */
}

p {
	font-family: 'Roboto';
}

.custom-footer-block-padding {
	padding: 0 20px;
}

.custom-footer-block-container {
	margin: 10px 20px;
}

.custom-footer-block-global {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.custom-footer-block-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px 10px;
}

.custom-footer-image-container {
	padding: 5px;
}

.custom-footer-icon {
	margin: 2px;
}

.modal-title-custom {
	margin-left: 165px;
}

.modal-content-custom {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	pointer-events: auto;
	background-color: #070E15;
	color: white;
	font-weight: 300;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .3rem;
	outline: 0;
}

@media only screen and (max-width: 768px) {
	.custom-footer-block-padding {
		padding: 0 20px;
	}

	.custom-footer-block-container {
		margin: 10px 20px;
	}

	.custom-footer-block-global {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.custom-footer-block-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.custom-footer-info-container {
		padding: 5px;
	}

	.custom-footer-info {
		margin: 2px;
	}

	.modal-title-custom {
		margin-left: 165px;
	}

	.modal-content-custom {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #070E15;
		color: white;
		font-weight: 300;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
		outline: 0;
	}
}

@media only screen and (max-width: 320px) {
	.custom-footer-block-padding {
		padding: 0 20px;
	}

	.custom-footer-block-container {
		margin: 10px 20px;
	}

	.custom-footer-block-global {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.custom-footer-block-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.custom-footer-info-container {
		padding: 5px;
	}

	.custom-footer-info {
		margin: 2px;
	}

	.modal-title-custom {
		margin-left: 55px
	}

	.modal-content-custom {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #070E15;
		color: white;
		font-weight: 300;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
		outline: 0;
	}
}

/* video-custom theme */

.custom-video-padding {
	padding: 0 20px;
	background-color: #49474B;
	color: white;
}

.custom-video-container {
	margin: 0 15px;
}

.custom-video-heading-padding {
	padding: 5px;
	padding-top: 45px;
}

.custom-video-heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.custom-video-heading-content-title {
	color: white;
}

.custom-video-iframe-padding {
	padding: 10px;
	padding-bottom: 45px
}

.custom-video-iframe-container {
	display: flex;
	/* align-items: center; */
	flex-direction: column;
	width: 100%;
}

.custom-video-iframe-content {
	width: 100%;
	height: 450px;
}


@media only screen and (max-width: 770px) {
	.custom-video-padding {
		padding: 0 20px;
		background-color: #49474B;
		color: white;
	}

	.custom-video-container {
		margin: 2px;
	}

	.custom-video-heading-padding {
		padding: 0 5px;
	}

	.custom-video-heading-content-title {
		color: white;
		padding-top: 25px;
	}

	.custom-video-heading-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.custom-video-heading-content-paragraph {
		display: flex;
		justify-content: center;
		padding: 2px 20px;
	}

	.custom-video-iframe-padding {
		padding: 1px;
		padding-bottom: 25px
	}

	.custom-video-iframe-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.custom-video-iframe-content {
		width: 100%;
		height: 350px;
	}
}

@media only screen and (max-width: 325px) {
	.custom-video-padding {
		padding: 0 20px;
		background-color: #49474B;
		color: white;
	}

	.custom-video-container {
		margin: 2px;
	}

	.custom-video-heading-padding {
		padding: 0 5px;
	}

	.custom-video-heading-content-title {
		color: white;
		padding-top: 25px;
	}

	.custom-video-heading-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.custom-video-heading-content-paragraph {
		display: flex;
		justify-content: center;
		padding: 2px 20px;
	}

	.custom-video-iframe-padding {
		padding: 1px;
		padding-bottom: 25px
	}

	.custom-video-iframe-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
	}

	.custom-video-iframe-content {
		width: 100%;
	}
}