<div class="modal fade" id="modalDelivery" tabindex="-1" role="dialog" aria-labelledby="modalDeliveryCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content-custom">
      <div>
      	<h3 class="modal-title-custom">Livraisons&retours</h3>
      </div>
        <div class="modal-body">
          {{ product.metafields.global.delivery }}
        </div>
    </div>
  </div>
</div>