/* footer-info-custom */

/* 4k Display */
.fic__main-container-padding {
	padding: 0px 35px;
}

.fic__main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}

.fic__block-container {
	margin: 10px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fic__block-image {
	padding: 5px;
}

.fic__block-heading {
	padding: 2px;
	text-align: center;
}

.fic__block-info {
	padding: 2px;
	text-align: center;
}

/* Laptop(S,M,L) Tablet(L) Display */
@media only screen and (max-width: 1440px) {
	.fic__main-container-padding {
		padding: 0px 20px;
	}

	.fic__main-container {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		width: 100%;
	}

	.fic__block-container {
		margin: 10px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fic__block-image {
		padding: 5px;
	}

	.fic__block-heading {
		padding: 2px;
		text-align: center;
	}

	.fic__block-info {
		padding: 1px;
		text-align: center;
	}
}

/* Tablet(S) Display */
@media only screen and (max-width: 768px) {
	.fic__main-container-padding {
		padding: 0px 20px;
	}

	.fic__main-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
	}

	.fic__block-container {
		margin: 5px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fic__block-image {
		padding: 2px;
	}

	.fic__block-heading {
		padding: 2px;
		text-align: center;
	}

	.fic__block-info {
		padding: 1px;
		text-align: center;
	}
}

/* Mobile(S,M,L) Display */
@media only screen and (max-width: 425px) {
	.fic__main-container-padding {
		padding: 0px 20px;
	}

	.fic__main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.fic__block-container {
		margin: 5px 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.fic__block-image {
		padding: 2px;
	}

	.fic__block-heading {
		padding: 1px;
		text-align: center;
	}

	.fic__block-info {
		padding: 1px;
		text-align: center;
	}
}

/* image-text-custom */

/* 4k Display */
.itc__main-container-padding {
	padding: 35px 20px;
}

.itc__main-container-row-reverse {
	display: flex;
	flex-direction: row-reverse;
	align-content: center;
	justify-content: center;
}

.itc__main-container-row {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}

.itc__image-block-container {
	display: flex;
	align-items: center;
	padding: 5px;
}

.itc__image {
	margin: 10px;
}

.itc__text-block-container {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 21% 10px;
}

.itc__paragraph {
	margin: 3px;
}


/* Laptop(S,M,L) Display */
@media only screen and (max-width: 1440px) {
	.itc__main-container-padding {
		padding: 20px;
	}

	.itc__main-container-row-reverse {
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		justify-content: center;
	}

	.itc__main-container-row {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}

	.itc__image-block-container {
		display: flex;
		align-items: center;
		padding: 5px;
	}

	.itc__image {
		margin: 10px;
	}

	.itc__text-block-container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 18% 10px;
	}

	.itc__paragraph {
		margin: 3px;
	}
}

/* Tablet(S) Display */
@media only screen and (max-width: 768px) {
	.itc__main-container-padding {
		padding: 20px;
	}

	.itc__main-container-row-reverse {
		display: flex;
		flex-direction: row-reverse;
		align-content: center;
		justify-content: center;
	}

	.itc__main-container-row {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
	}

	.itc__image-block-container {
		display: flex;
		align-items: center;
		padding: 5px;
	}

	.itc__image {
		margin: 10px;
	}

	.itc__text-block-container {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4% 10px;
	}

	.itc__paragraph {
		margin: 3px;
	}
}

/* Mobile(S,M,L) Display */
@media only screen and (max-width: 425px) {
	.itc__main-container-padding {
		padding: 20px;
	}

	.itc__main-container-row-reverse {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.itc__main-container-row {
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

	.itc__image-block-container {
		padding: 5px;
		display: flex;
		align-items: center;
	}

	.itc__image {
		margin: 1px;
		width: 100%;
	}

	.itc__text-block-container {
		text-align: center;
		padding: 15px;
	}

	.itc__paragraph {
		margin: 1px;
	}
}

/* yt-video-custom */

/* 4k Display */
.ytvc__main-container-padding {}

.ytvc__main-container {}

.ytvc__heading-block-container {}

.ytvc__heading {}

.ytvc__paragraph-block-container {}

.ytvc__yt-iframe-block-container {}

.ytvc__yt-iframe {}

/* Laptop(S,M,L) Display */
@media only screen and (max-width: 1440px) {
	.ytvc__main-container-padding {}

	.ytvc__main-container {}

	.ytvc__heading-block-container {}

	.ytvc__heading {}

	.ytvc__paragraph-block-container {}

	.ytvc__yt-iframe-block-container {}

	.ytvc__yt-iframe {}

	.ytvc__yt-iframe-player {}
}

/* Tablet(S) Display */
@media only screen and (max-width: 768px) {
	.ytvc__main-container-padding {
		padding: 20px;
	}

	.ytvc__main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
	}

	.ytvc__heading-block-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 5px;
	}

	.ytvc__heading {
		font-weight: 700;
	}

	.ytvc__paragraph-block-container {
		padding: 5px;
	}

	.ytvc__yt-iframe-block-container {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		padding: 5px;
	}

	.ytvc__yt-iframe {
		margin: 2px;
	}

	.ytvc__yt-iframe-player {
		width: 100%;
		height: 100%;
	}
}

/* Mobile(S,M,L) Display */
@media only screen and (max-width: 425px) {
	.ytvc__main-container-padding {
		padding: 20px;
	}

	.ytvc__main-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-items: center;
	}

	.ytvc__heading-block-container {
		display: flex;
		flex-direction: column;
		text-align: center;
		padding: 5px;
	}

	.ytvc__heading {
		font-weight: 700;
	}

	.ytvc__paragraph-block-container {
		padding: 5px;
	}

	.ytvc__yt-iframe-block-container {
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		padding: 5px;
	}

	.ytvc__yt-iframe {
		margin: 2px;
	}

	.ytvc__yt-iframe-player {
		width: 100%;
		height: 100%;
	}
}