 <div class="modal fade" id="modalCaracteristic" tabindex="-1" role="dialog" aria-labelledby="modalCaracteristicCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content-custom">
       <div>
         <h3 class="modal-title-custom">Caractéristiques</h3>
       </div>
       <div class="modal-body">
         {{ product.metafields.global.caracteristic }}
       </div>
     </div>
   </div>
</div>