 <div class="modal fade" id="modalCaracteristic" tabindex="-1" role="dialog" aria-labelledby="modalCaracteristicCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLongTitle">Caractéristiques</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
         </button>
       </div>
       <div class="modal-body">
         {{ product.metafields.global.caracteristic }}
       </div>
     </div>
   </div>
</div>