<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="[[ YOUR SECTION TYPE]]">

</section>
{% schema %}
 {
    "name": "Section 1",
    "settings": [

	  ],
    "blocks": [
      
    ],
    "presets": [
   	  {
    	"name": "Section 1",
   		 "category": "SECTIONS TEST"
  	  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}