<section id="section-{{ section.id }}" class="section" data-section-id="{{ section.id }}" data-section-type="[[SECTION CUSTOM]]">
	<div>
	</div>
</section>
{% schema %}
 {
    "name": "Section 1",
    "settings": [

	  ],
    "blocks": [
      
    ],
    "presets": [
   	  {
    	"name": "Collection Custom",
   		 "category": "SECTIONS CUSTOMS"
  	  }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}